@value makerGreen, makerBlack, makerLightGrey from '../../common/color.css';

.editor {
    flex-basis: 50%;
    border-right: 2px solid makerLightGrey;
    padding: 0.5em 2em;
    overflow-y: auto;
}

.title {
    text-align: center;
    color: makerGreen;
    margin-bottom: 1em;
}